.red1{

width: 667px;
height: 93px;
margin-left: 121px;


font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
/* or 56px */

color: #000000;

}
.head1{

width: 150px;
height: 39px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;
/* or 32px */


color: #1E4681;
}
.head2{

width: 214px;
height: 39px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;
/* or 32px */


color: #1E4681;

}
.head3{

width: 150px;
height: 39px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;
/* or 32px */


color: #1E4681;

}
.blok1{
   
width: 223px;
height: 39px;
margin-left: 100px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */


color: #000000;

}
.blok2{

width: 271px;
height: 109px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */


color: #000000;
}
.blok3{

width: 245px;
height: 39px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */


color: #000000;
}
.bas1{

width: 667px;
height: 93px;
margin-left: 121px;


font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
/* or 56px */


color: #000000;
}
.bas2{

width: 662px;
height: 374px;
margin-left: 121px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #000000;

}
.flex{
    display: flex;
}