@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Murad start*/
footer {
    height: 390px;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: space-between;
}

.logo_mobile_white {
    width: 115px;
    height: 68px;
    margin-bottom: 30px;
}

.ig {
    width: 33px;
    height: 33px;
    margin-right: 18px;
}

.fb {
    width: 32px;
    height: 32px;
    margin-right: 21px;
}

.vk {
    width: 35px;
    height: 35px;
    margin-right: 25px;
}

.wp {
    width: 34px;
    height: 34px;
}

.phone_white {
    width: 27px;
    height: 27px;
}

.mail_white {
    width: 27px;
    height: 18px;
}

.contact {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    
    margin-left: 30px;
}

.mail {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
}

.copyright {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 122px;
}


.right{
    padding-top: 54px;
    margin-right: 122px;
}

.date {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 54px;
}

.dev-price {
    font-size: 25px;
}

.price {


    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.price-rubl {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
    margin-bottom: 54px;
}

.dev-price-rubl {
    font-size: 80px;
}

.price-and-date {
    height: 780px;
    width: 100%;
    background-color: #9DC9C8;
    display: flex;
    flex-direction: column;
}

.frame {
    margin-left: 122px;
    margin-top: 186px;
}

.small-size {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
}

.aboute {
    display: flex;
    width: 658px;
    height: 111px;
    justify-content: space-between;
    position: relative;
    bottom: 120px;
}

.about {
    width: 294px;
    height: 111px;
}


.qiymet-rubl{
position: relative;
  bottom: 80px;}


@media screen and (min-width:992px) and (max-width:1279px){
    footer {
        height: 225.88px;
        width: 100%;
        background: #000000;
        display: flex;
        justify-content: space-between;
    }
    
    .logo_mobile_white {
        width: 66.6px;
        height: 39.38px;
        margin-bottom: 17px;
    }
    
    .ig {
        width: 19.11px;
        height: 19.11px;
        margin-right: 10.43px;
    }
    
    .fb {
        width: 18.53px;
        height: 18.53px;
        margin-right: 12.16px;
    }
    
    .vk {
        width: 20.27px;
        height: 20.27px;
        margin-right: 14.48px;
    }
    
    .wp {
        width: 19.69px;
        height: 19.69px;
    }
    
    .phone_white {
        width: 15.64px;
        height: 15.64px;
    }
    
    .mail_white {
        width: 15.64px;
        height: 10.43px;
    }
    
    .contact {
        color: white;
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 14.19px;
        letter-spacing: 0em;
        text-align: left;
        
        margin-left: 12.74px;
    }
    
    .mail {
        display: flex;
        align-items: center;
    }
    
    .phone {
        display: flex;
        align-items: center;
    }
    
    .copyright {
        color: white;
        font-family: 'Roboto',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10.14px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 28.96px;
        margin-left: 8.5%;
    
        margin-bottom: 1.6%;
    }
    
    .right{
        padding-top: 31.28px;
        margin-right: 8.5%;
    }
}

@media screen and (min-width:992px) and (max-width:1279px){
    .date {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32.44px;
        margin-bottom: 54px;
    }
    
    .qiymet{
        position: relative;
        bottom: 16px;}
    
    
    .price{
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 14.19px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .price-rubl {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 101.38%;
        margin-bottom: 54px;
    }

    .price-and-date {
        height: 451.75px;
        width: 100%;
        background-color: #9DC9C8;
        display: flex;
        flex-direction: column;
    }
    
    .frame {
        margin-left: 8.5%;
        margin-top: 84px;
    }
    
    .small-size {
        font-family: 'Roboto',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10.14px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .aboute {
        display: flex;
        width: 381px;
        height: 64px;
        justify-content: space-between;
        position: relative;
        bottom: 70px;
    }
    
    .about {
        width: 171px;
        height: 64px;
    }
    
    .qiymet-rubl{
      position: relative;
      bottom: 60px;}

}

@media screen and (min-width:320px) and (max-width:991px) {
    footer {
        height: 251px;
        width: 100%;
        background: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo_mobile_white {
        width: 53.59px;
        height: 31.69px;
        margin-bottom: 13.5px;
    }
    
    .ig {
        width: 15.38px;
        height: 15.38px;
        margin-right: 8.39px;
    }
    
    .fb {
        width: 18.53px;
        height: 18.53px;
        margin-right: 9.78px;
    }
    
    .vk {
        width: 16.31px;
        height: 16.31px;
        margin-right: 11.65px;
    }
    
    .wp {
        width: 15.84px;
        height: 15.84px;
    }
    
    .phone_white {
        width: 12.58px;
        height: 12.58px;
    }
    
    .mail_white {
        width: 12.58px;
        height: 8.39px;
    }
    
    .contact {
        color: white;
        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 12.17px;
        letter-spacing: 0em;
        text-align: left;

        margin-left: 10.25px;
    }
    
    .mail {
        display: flex;
        align-items: center;
    }
    
    .phone {
        display: flex;
        align-items: center;
    }
    
    .copyright {
        color: white;
        font-family: 'Roboto',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10.14px;
        letter-spacing: 0em;
        text-align: left;
        position:relative;
        top: 120px;
        
    }
    
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 28.96px;
        margin-left: 10.33%;
    }
    
    .right{
        display: flex;
        flex-direction: column;
        margin-left: 10.33%;
        margin-bottom: 1.6%;
        position:relative;
        bottom: 58px;
    }

}

@media screen and (min-width:320px) and (max-width:991px){
    .date {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 26.36px;
        Width: 224px;
        Height: 63px;
    }
    
    
    .price{
        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 12.17px;
        text-align: left;
        
    }
    
    .price-rubl {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 37px;
        line-height: 37.51px;
    }

    .price-and-date {
        height: 363px;
        width: 100%;
        background-color: #9DC9C8;
    }
    
    .frame {
        margin-left: 8.5%;
        margin-top: 62px;
        margin-bottom: 63px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .small-size {
        font-family: 'Roboto',sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10.14px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .qiymet{
        position:relative;
        bottom: 32px;
    }

    .aboute {
        display: flex;
        width: 311px;
        height: 66px;
        justify-content: space-between;
    }
    
    .about {
        width: 140px;
        height: 66px;
    }
    

}
/* Murad end */




/* Shovgu */
.section-1 {
    margin-left: 120px;
    margin-top: 20px;
    margin-right: 240px;
}

.ilk {
    width: 112px;
    height: 66px;
}

.logo {
    display: flex;
    margin-top: 97px;
}

.logo p {
    font-size: 20px;
    width: 130px;
    height: 32px;
    font-weight: 400;
}

.globe,
.watch,
.calendar {
    display: flex;
}

.image-1 {
    width: 22px;
    height: 21px;
    margin-top: 11%;
    margin-right: 5%;
}

.image-2 {
    width: 22px;
    height: 22px;
    margin-top: 11%;
    margin-right: 5%;
}

.image-3 {
    width: 20px;
    height: 22px;
    margin-top: 11%;
    margin-right: 5%;
}

h1 {
    width: 628px;
    height: 190px;
    font-weight: 700;
    font-size: 80px;
    margin-top: 29px;
    margin-bottom: -10px;
}

.img-1 {
    width: 304px;
    height: 356px;
    margin-left: 140px;
}

.img-2 {
    width: 274px;
    height: 41px;
    margin-left: -270px;
    margin-top: 335px;
}

.img-3 {
    z-index: -1;
}

.text p {
    width: 370px;
    height: 62px;
    font-size: 20px;
}

.second-part {
    display: flex;
}

.third-part {
    background-color: #1E4681;
    color: white;
    width: 483.63px;
    height: 200px;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 60px;
}

.third-part p {
    width: 400px;
    height: 113px;
    font-size: 25px;
    font-weight: 400;
    line-height: 130%;
    padding-top: 20px;
    padding-left: 25px;
}

.name {
    margin-top: -30px;
    margin-right: 19px;
    margin-left: 220px;
}

@media screen and (min-width:992px) and (max-width:1279px) {
    .ilk {
        width: 64.87px;
        height: 38.23px;
    }

    .logo {
        margin-top: 60px;
    }

    .logo p {
        width: 75.29px;
        height: 18.53px;
        font-weight: 400;
        font-size: 12px;
    }

    .image-1 {
        width: 12.74px;
        height: 12.16px;
    }

    .image-2 {
        width: 12.74px;
        height: 12.74px;
    }

    .image-3 {
        width: 11.58px;
        height: 12.74px;
    }

    h1 {
        width: 363.72px;
        height: 110.04px;
        font-size: 46px;
        margin-top: 8px;
    }

    .img-1 {
        width: 176.07px;
        height: 206.18px;
        margin-left: 80px;
    }

    .img-2 {
        width: 158.69px;
        height: 23.75px;
        margin-top: 195px;
        margin-left: -160px;
    }
    .second-part{
        justify-content: space-between;
    }
    .third-part{
        width: 280.11px;
        height: 115.83px;
        margin-left: 180px;
    }
    .third-part p{
        width: 220.38px;
        height: 65.45px;
        font-weight: 400;
        font-size: 14px;
        padding-left: 15px;
        padding-top: 15px;
    }
    .name{
        margin-left: 135px;
        margin-top: -25px;
    }
}
@media screen and (min-width:320px) and (max-width:991px){
    .section-1{
        margin-top: 36px;
        margin-left: 35px;
    }
    .ilk{
        width: 52.19px;
        height: 30.75px;
    }
    .logo{
        margin-top: 45px;
    }
    .logo p{
        width: 60.58px;
        height: 14.91px;
        font-weight: 400;
        font-size: 10px;
    }
    .image-1{
        width: 10.25px;
        height: 9.79px;
    }
    .image-2{
        width: 10.25px;
        height: 10.25px;
    }
    .image-3{
        width: 9.32px;
        height: 10.25px;
    }
    h1{
        width: 292.63px;
        height: 88.53px;
        font-weight: 700;
        font-size: 37px;
        margin-top: 8px;
    }
    .text p{
        width: 212.4px;
        height: 28.96px;
        font-size: 10px;
    }
    .second-part{
        display: block;
    }
    .img-1{
        width: 141.66px;
        height: 165.89px;
    }
    .img-2{
        width: 127.68px;
        height: 19.1px;
        margin-top: -5px;
        margin-left: 155px;
    }
    .third-part{
        width: 225.36px;
        height: 93.19px;
        margin-left: 0px;
    }
    .third-part p{
        width: 170.64px;
        height: 52.65px;
        font-weight: 400;
        font-size: 11px;
        padding-left: 12px;
        padding-top: 8px;
    }
    .name{
        margin-left: 110px;
        margin-top: -15px;
    }
}

.section-2 {
    margin-left: 120px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.main h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
}

.main p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    width: 600px;
}

.image {
    margin-top: 5%;
    position: relative;
}

.first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.second {
    display: flex;
    font-size: 15px;
}

h3 {
    font-size: 24px;
}

.image-6 {
    margin-right: 200px;
    width: 232px;
    height: 203px;
}

.image-8 {
    width: 189px;
    height: 32px;
    margin-left: -400px;
    margin-top: 190px;
    z-index: -1;
}
.image-7{
    z-index: -1;
}
.image-5 {
    width: 366px;
    height: 59px;
    margin-left: -570px;
    margin-top: 490px;
}

.image-4 {
    width: 314px;
    height: 315px;
    margin-left: 50px;
    margin-top: 130px;
}

.one,
.two,
.three {
    width: 150px;
    height: 39px;
    font-weight: 400;
    font-size: 18px;
}

.one {
    margin-right: 95px;
    margin-left: 132px;
}

.two {
    margin-right: 95px;
}

h3 {
    font-weight: 700;
    font-size: 25px;
}
  
@media screen and (min-width:992px) and (max-width:1279px){
    .main h1{
        width: 211.4px;
        font-size: 32px;
        margin-top: 100px;
    }
    .main p{
        width: 375px;
        font-size: 14px;
        margin-top: 40px;
    }
    .image-4{
        width: 181.86px;
        height: 182.44px; 
        margin-top: 205px;
    }
    .image-5{
        width: 211.98px;
        height: 34.17px;
        margin-top: 415px;
        margin-left: -345px;
    }
    .photo-1{
        width: 134.37px;
        height: 117.57px;
    }
    .photo-2{
        width: 109.46px;
        height: 18.53px;
    }
    .image-8{
        margin-top: 110px;
        margin-right: -50px;
        margin-left: -415px;
    }
    h3{
        font-weight: 700;
        font-size: 15px;
    }
    .one,.two,.three{
        width: 86.88px;
        height: 22.59px;
        font-size: 11px;
        margin-top: 25px;
    }
    .one{
        margin-left: 77px;
        margin-right: 55px;
    }
    .two{
        margin-right: 32px;
    }
}
@media screen and (min-width:320px) and (max-width:991px){
    .section-2{
        margin-left: 35px;
    }
    .main h1{
        width: 170.08px;
        font-size: 26px;
        margin-top: 75px;
    }
    .main p{
        width: 308.47px;
        font-size: 12px;
    }
    .image-4{
        width: 146.32px;
        height: 146.78px;
        margin-top: 0;
        margin-left: 75px;
    }
    .image-5{
        width: 170.55px;
        height: 27.49px;
        margin-top: -5px;
        margin-left: 60px;
    }
    .image-6,.image-8{
        display: none;
    }
    .first{
        display: block;
    }
    h3{
        font-weight: 700;
        font-size: 12px;
    }
    .one,.two,.three{
        width: 86px;
        height: 18px;
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .one{
        margin-left: 0;
        margin-right: 33px;
    }
    .two{
        margin-right: 33px;
    }
    
}

/* Shovgu end*/




/* Mehemmed start*/
.red1 {

    width: 667px;
    height: 93px;
    margin-left: 100px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}

.head1 {

    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.head2 {

    width: 214px;
    height: 39px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;

}

.head3 {

    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;

}

.blok1 {

    width: 223px;
    height: 39px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;

}

.blok2 {

    width: 271px;
    height: 109px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.blok3 {

    width: 245px;
    height: 39px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.bas1 {

    width: 667px;
    height: 93px;
    margin-left: 100px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}

.bas2 {

    width: 662px;
    height: 374px;
    margin-left: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.flex {
    display: flex;
}
@media screen and (min-width:992px) and (max-width:1279px){
    .red1{
        width: 386.3px;
        height: 53.86px;
        margin-left: 70.08px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
        color: #000000;
    }
    
    .head1{
    
        width: 86.88px;
        height: 22.59px;
        margin-left: 70.66px;
        margin-right: 46px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #1E4681;
    
    }
    .blok1{
        width: 153px;
        height: 22px;
        margin-left: 71px;   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
        margin-right: 46px;
    }
    .head2{

        width: 123.94px;
        height: 22.59px;
        margin-right: 50,87;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #1E4681;
    }
    .blok2{
    
        width: 172px;
        height: 63px;
        margin-right: 50,87;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }
    
    .head3{
        width: 86.88px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #1E4681;
    }
    
    .blok3{
    
        width: 141.9px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }
    .bas1{
        width: 386.3px;
        height: 53.86px;
        margin-left: 70.08px;  
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
        color: #000000;
    }
    
    .bas2{
        width: 383.41px;
        height: 216.61px;
        margin-left: 79.92px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
    }
    
    }
    @media screen and (min-width:320px) and (max-width:991px){
    .red1{
    
        width: 310.8px;
    height: 43.34px;
    margin-left: 36px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    /* or 26px */
    color: #000000;
    
    }
    .head1{
        width: 69.9px;
        height: 18.17px;
        margin-left: 35px;
     
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */
        color: #1E4681;
    }
    .head2{
        width: 99.72px;
        height: 18.17px;
        margin-left: 35.38px;
       
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */
        
        
        color: #1E4681;
    
    
    }
    .blok1{
    
        width: 180px;
        height: 48px;
        margin-left: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */
        
        
        color: #000000;
    
    }
    .blok2{
    
        width: 165px;
        height: 51px;
        margin-left: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */
        color: #000000;
        
    
    }
    
    .head3{
    
        width: 69.9px;
        height: 18.17px;
        margin-left: 36px;
    
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */
        
        
        color: #1E4681;
        
    
    }
    .blok3{
        width: 159px;
        height: 31px;
        margin-left: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */    
        color: #000000;
        
    }
    
    .flex{
        display: inline;
    }
    
    .bas1{
        width: 310.8px;
        height: 43.34px;
        margin-left: 36px;
    
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
        /* or 26px */
        
        
        color: #000000;
    
    
    }
    .bas2{
        width: 299px;
        height: 174px;
        margin-left: 44px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        /* or 18px */
        
        color: #000000;
    
    }
    
    
    }
/* Mahammad end*/




/* Tural start*/
.cedveller {
    margin-left: 121px;
    width: 905px;
    height: 93px;
    font-weight: 700;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
}

.allboxes {
    justify-content: center;
    width: 89%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.box1 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box2 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box3 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box4 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box5 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box6 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box7 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.box8 {
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
}

.allboxes h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    margin: 0;
    margin-left: 20px;
}



.allboxes p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
    margin-top: 32px;
    width: 365px;
}


.box8 p {
    margin-top: 0px;
}

.bozhisse {
    height: 780px;
    width: 100%;
    background: #EFEFEF;
    margin-top: 60px;
    padding-top: 91px;
}

.bozunichi {
    width: 791px;
    height: 451px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 34px;
    margin-left: 126px;
    padding-top: 40px;

}

.bozhisse h2 {
    width: 987px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    margin: 0;
    margin-left: 121px;
}

.bozunichi p {
    width: 700px;
    height: 203px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 45px;
}

.portre {
    width: 190px;
    height: 169px;
    margin-left: 26px;
}

.fotoandfacebook {
    display: flex;
}

.FB p {
    width: 353px;
    height: 59px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 0;
}

.FB img {
    width: 32px;
    height: 31px;
    margin-left: 30px;
}

@media screen and (min-width:992px) and (max-width:1279px) {
    .cedveller {
        margin-left: 70px;
        width: 524.15px;
        height: 53.86px;
        font-weight: 700;
        font-size: 32px;
        font-family: 'Roboto Slab', serif;
    }

    .box1 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box2 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box3 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box4 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box5 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box6 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box7 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .box8 {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21px;
        margin-bottom: 23px;
    }

    .allboxes img {
        width: 231.09px;
        height: 92.67px;
    }

    .allboxes h3 {
        width: 211.4px;
        height: 22.59px;
        font-size: 17px;
        margin-left: 11px;
    }

    .allboxes p {
        width: 211.4px;
        height: 36.49px;
        font-size: 14px;
        margin: 0;
        margin-left: 11px;
        margin-top: 18px;
    }

    .bozhisse {
        width: 100%;
    }

    .bozhisse h2 {
        width: 571.64px;
        height: 53.86px;
        font-size: 32px;
        margin-left: 70px;
    }

    .bozunichi {
        width: 458.12px;
        height: 261.2px;
        margin-left: 72px;
        padding: 0;
        padding-top: 23px;

    }

    .bozunichi p {
        width: 405.42px;
        height: 117.57px;
        margin-left: 26px;
        margin-top: 0;
        font-size: 12px;
    }

    .portre {
        width: 110.04px;
        height: 97.88px;
        margin-left: 15px;
    }

    .FB p {
        width: 204.45px;
        height: 34.17px;
        font-size: 17px;
        margin-top: 28px;
    }

    .FB img {
        width: 18.53px;
        height: 17.95px;
    }
}

@media screen and (min-width:320px) and (max-width:991px) {
    .cedveller {
        width: 421.7px;
        height: 43.34px;
        font-size: 26px;
        margin-left: 34px;
    }
    .bloklar{
        width: 60%;
        margin: auto;
    }

    .allboxes {
        display: inline;

    }

    .box1 {
        width: 185.92px;
        height: 152.84px;

    }

    .box2 {
        width: 185.92px;
        height: 152.84px;

    }

    .box3 {
        width: 185.92px;
        height: 152.84px;

    }

    .box4 {
        width: 185.92px;
        height: 152.84px;

    }

    .box5 {
        width: 185.92px;
        height: 152.84px;

    }

    .box6 {
        width: 185.92px;
        height: 152.84px;

    }

    .box7 {
        width: 185.92px;
        height: 152.84px;

    }

    .box8 {
        width: 185.92px;
        height: 152.84px;

    }

    .allboxes h3 {
        width: 170.08px;
        height: 18.17px;
        font-size: 14px;
        margin-left: 9px;
    }

    .allboxes img {
        width: 185.92px;
        height: 74.56px;
    }

    .allboxes p {
        width: 170.08px;
        height: 29.36px;
        font-size: 14px;
        margin: 0;
        margin-left: 9px;
        margin-top: 14px;
    }
    .bozhisse {
        width: 100%;
        height: 423px;
    }

    .bozhisse h2 {
        width: 257px;
        height: 69px;
        font-size: 26px;
        margin-left: 26px;
    }

    .bozunichi {
        width: 308px;
        height: 248px;
        margin-left: 36px;
        padding: 0;
        padding-top: 18px;

    }

    .bozunichi p {
        width: 266px;
        height: 111.01px;
        font-size: 12px;
        margin-left: 27px;
        margin-top: 0;
    }

    .portre {
        width: 80px;
        height: auto;
        margin-left: 18px;
    }

    .FB p {
        width: 164.49px;
        height: 32.73px;
        font-size: 14px;
    }

    .FB img {
        width: 14.91px;
        height: 17.2px;
    }

    .fotoandfacebook {
        margin-top: 40px;
    }
}

/* Tural end*/